{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tentang Saya</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type = "text/javascript" src ="{% static 'js/index.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
  </head>

  <body class="light text-center" style="margin-top: 50px;">

    <section class="container">
      <div class="row justify-content-md-center">
          <div class="col m12 center">
            <!-- Rounded switch -->
            <label class="switch">
              <input class = "changing" type="checkbox">
              <span class="slider round"></span>
            </label>
          </div>
      </div>
      
      <div class="row justify-content-md-center" style="margin-top: 50px;">
          <div class="col m12">
            <div id="accordion" class=".d-*-flex .flex-*-column .align-items-*-center">
              <h3>Aktivitas</h3>
              <div>
                Wakil ketua Bina Insan Cinta Menari (Binari) masa jabat 2019/2020
                <br> Staff Komisi Disipilin Penerimaan Mahasiswa Baru 2019
                <br> Bendahara Wisuda Ganjil Fasilkom UI 2020
                <br> Manager HRD COMPFEST 2020
              </div>
              
              <h3>Pengalaman Kepanitiaan dan Organisasi</h3>
              
              <div>
                Ketua Paskibra SMPN 115 Jakarta (Pabels) masa jabat 2014 - 2015
                <br> Bendahara Ajang Lomba PBB Antar Sekolah (Alpas) 2014
                <br> PJ perizinan Eksternal 'Cramsisco IX' 2015
                <br> Anggota FelQuatro D' Empire (2016 - sekarang)
                <br> Staff divisi Marketing Catastropa 2017
                <br> Staff divisi Kreatif Catastropa 2017
                <br> Bendahara Tari SMAN 38 masa jabat 2017 - 2018
                <br> Staff divisi Kreatif Wisuda Ganjil Fakultas Ilmu Komputer 2019
                <br> Staff divisi Kreatif Educare 2019
                <br> Staff divisi HRD Computers Get Together 2019
                <br> Staff divisi HRD Compfest 2019
              </div>
              
              <h3>Prestasi</h3>
              
              <div>
                2012
                <br> o Duta Budaya Indonesia (Student Folklore)
                <br>
                <br> 2014
                <br> o 20 besar finalis MGMP matematika tingkat DKI Jakarta
                <br>
                <br>2016
                <br>o Juara 2 Carnation Dance Competition
                <br>o Juara 3 TSM cup
                <br>o Juara 2 Lomba Tari Sekolah Tinggi Ilmu Ekonomi Jakarta
                <br>o Juara 1 KFC be original Dance Competition
                <br>o Juara 2 Lomba Tari Senat Mahasiswa
                <br>
                <br>2017
                <br>o Juara 1 Synapse Dance Competition
                <br>o Juara 1 Gala Breeze Dance Competition
                <br>o Juara 1 Perbanas Dance Competition
                <br>o Juara 1 Moestopo Dance Competition
                <br>o Juara 1 Mentari Dance Competition
                <br>o Juara 3 Fortals Dance Competition
                <br>o Juara 1 Bemsmart Dance Competition
                <br>o Juara 1 Dance Prix Indonesia
                <br>
                <br>2019
                <br>o Juara 1 International Dance Championship
              </div>
            </div>
          </div>
      </div>
    </section>
  </body>
</html>